@import '_reset';

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #244751;
  background-color: #eee;
}

main {
  width:90%;
  margin:0 auto;
  padding:100px 0 20px 0;
  background-color: #ffffff;
}

@media(min-width: 430px) {
  body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    color: #244751;
    background-color: #eee;
  }

  main {
    width:450px;
    margin:0 auto;
    padding:100px 0 20px 0;
    background-color: #ffffff;
  }

  #errorMessage, #errorMessage2 {
    color:red;
    text-align: center;
    margin: 0 2em 1em;
    display:none;
  }
}