#tweet-container article {
  border-radius:5px;
  margin:1em 2em;
  opacity:0.7;
}

#tweet-container article {
  border:solid #bfbfbf 1px;
  margin-bottom:2em;
}

#tweet-container article:hover, #tweet-container article:hover .showOnHover {
  opacity:1;
}

#tweet-container article header {
  padding:.5em;
  background-color: #eee;
  border-radius:5px;
}

#tweet-container .user {
  font-weight:bold;
  font-size:1.5em;
  position: absolute;
  margin-left:.5em;
}

#tweet-container .handle {
  float: right;
}

#tweet-container article footer {
  padding:1em 1em 2.25em;
  font-size:.75em;
  border-top:solid #bfbfbf 1px;
}

article img.avatar {
  height:50px;
  width:50px;
}

article footer .showOnHover {
  opacity:0;
  float:right;
}

article footer img {
  height:1.5em;
  width:1.5em;
}

#tweet-container .tweetAge {
  max-width:50%;
  float:left;
}

#tweet-container .tweetArea {
  padding:2em 1em;
}
